# Urantia.dev
NEXT_PUBLIC_URANTIA_DEV_API_HOST="http://localhost:3000"
# NEXT_PUBLIC_URANTIA_DEV_API_HOST="https://urantia.dev"

# Audio Files CDN
NEXT_PUBLIC_AUDIO_FILES_CDN="https://d1a3j4xxrb2zst.cloudfront.net"

# UrantiaHub.com
NEXT_PUBLIC_HOST="http://localhost:3001"
# NEXT_PUBLIC_HOST="https://UrantiaHub.com"

# Sentry
NEXT_PUBLIC_SENTRY_DSN=""

# NextAuth
NEXTAUTH_URL="http://localhost:3001"
# NEXTAUTH_URL="https://UrantiaHub.com"
NEXTAUTH_SECRET="secret"

# NextAuth Providers
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/open_urantia"
SEED_EMAIL=""

# Redis
REDIS_URL=""

# Cron
CRON_SECRET=""

# SendGrid
SENDGRID_API_KEY=""
SENDGRID_FROM=""
SENDGRID_SEND_DAILY_QUOTE_TEMPLATE_ID=""
SENDGRID_SEND_CONTINUE_READING_TEMPLATE_ID=""

# Resend
RESEND_API_KEY=""
EMAIL_FROM=""

# ADMIN_SECRET
ADMIN_SECRET=""

# Sentry
SENTRY_AUTH_TOKEN=""

# Firebase
FIREBASE_SERVICE_ACCOUNT_KEY=``

# AWS
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# AI Model
AI_MODEL="o1-mini"

# OpenAI
OPENAI_API_KEY=""

# xAI
XAI_API_KEY=""
