# Urantia.dev
URANTIA_DEV_API_HOST="http://localhost:3000"
# URANTIA_DEV_API_HOST="https://urantia.dev"

# NextAuth
API_HOST="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
# API_HOST="https://urantia.dev"
# NEXTAUTH_URL="https://openurantia.com"
NEXTAUTH_SECRET="secret"

# Database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/open_urantia"
