# Urantia.dev
NEXT_PUBLIC_URANTIA_DEV_API_HOST="http://localhost:3000"
# NEXT_PUBLIC_URANTIA_DEV_API_HOST="https://urantia.dev"

# OpenUrantia.com
NEXT_PUBLIC_OPEN_URANTIA_HOST="http://localhost:3001"
# NEXT_PUBLIC_OPEN_URANTIA_HOST="https://openurantia.com"

# NextAuth
NEXTAUTH_URL="http://localhost:3001"
# NEXTAUTH_URL="https://openurantia.com"
NEXTAUTH_SECRET="secret"

# NextAuth Providers
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/open_urantia"
SEED_EMAIL=""

# Redis
REDIS_URL=""

# Cron
CRON_SECRET=""

# SendGrid
SENDGRID_API_KEY=""
SENDGRID_FROM=""
SENDGRID_SEND_DAILY_QUOTE_TEMPLATE_ID=""
